@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import "./UI.scss";
@import "./piano.scss";
@import "./ratiohint.scss";
html {
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(251, 251, 251);
}
body {
    padding: 0;
    margin: 0;
}
.container {
    margin: auto;
    max-width: 1200px;
    padding: 8px;
    box-sizing: border-box;
}

footer {
    margin-top: 64px;
}

// Typographic

h1,
h2,
h3 {
    font-weight: bold;
    padding: 16px 0px 8px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 16px;
    padding: 2px 0px;
}
