.piano_container {
    &-note_name {
        margin-top: 16px;
        position: relative;
        height: 30px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        .note_octave {
            font-size: 8px;
        }
    }

    &-keyboard {
        position: relative;
        height: 250px;
        .note_is_black {
            background-color: black;
            z-index: 1;
            height: 60%;
        }

        .note_is_white {
            z-index: 0;
            border-bottom: solid 2px black;
            border-top: solid 4px black;
            background-color: white;
            height: 100%;
        }
        .note_body {
            user-select: none;
            border-left: solid 1px black;
            border-right: solid 1px black;
            border-radius: 4px;
            &:hover {
                background-color: orange;
            }
            box-sizing: border-box;
        }
    }

    &-editor {
        position: relative;
        height: 60px;
        .note_is_black {
            background-color: rgb(43, 43, 43);
        }
        .note_is_white {
            background-color: rgb(86, 86, 86);
        }
        .note_box {
            border: solid 1px rgb(28, 28, 28);
            text-align: center;
            color: white;
            font-size: 18px;

            &-tag {
                position: relative;
                height: 25px;
                width: 25px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;

                &.note_enable {
                    font-weight: bold;
                    color: black;

                    border-radius: 100%;

                    border: solid 2px white;
                    background-color: orange;
                }
                box-sizing: border-box;
            }

            box-sizing: border-box;

            &:hover {
                background-color: orange;
            }
            height: 100%;
        }
    }
    &-hint {
        position: relative;
        height: 30px;
        font-size: 10px;
        .hint_box {
            position: relative;
            height: 100%;
            &-bar {
                height: 100%;
                background-color: red;
            }
        }
    }
}
