.piano_container {
    &-note_name {
        margin-top: 16px;
        position: relative;
        height: 30px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    &-keyboard {
        position: relative;
        height: 250px;
        .note_is_black {
            background-color: black;
            z-index: 1;
            height: 60%;
        }

        .key_enabled {
            &::after {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-color: orange;
                position: absolute;
                transform: translate(-50%, 0);
                left: 50%;
                bottom: 10px;
                border-radius: 100%;
                border: solid 2px white;
            }
        }

        .note_is_white {
            z-index: 0;
            border-bottom: solid 2px black;
            border-top: solid 4px black;
            background-color: white;
            height: 100%;
        }

        .note_body {
            user-select: none;
            border-left: solid 1px rgb(85, 85, 85);
            border-right: solid 1px rgb(85, 85, 85);
            &:hover {
                background-color: orange;
            }
            &:active{
                box-shadow: inset 0px 8px 16px rgba(0, 0, 0, 0.2);
            }
            box-sizing: border-box;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
        }
    }

    &-editor {
        position: relative;
        height: 60px;
        .note_is_black {
            background-color: rgb(43, 43, 43);
        }
        .note_is_white {
            background-color: rgb(86, 86, 86);
        }
        .note_box {
            cursor: pointer;
            border: solid 1px rgb(28, 28, 28);
            text-align: center;
            color: white;
            font-size: 18px;

            &-tag {
                position: relative;
                height: 30px;
                width: 30px;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;

                display: flex;
                align-items: center;
                justify-content: center;
                &.note_enable {
                    font-weight: bold;
                    color: black;

                    border-radius: 100%;

                    border: solid 2px white;
                    background-color: orange;
                }
                box-sizing: border-box;
            }
            .note_octave {
                position: absolute;
                left: 0px;
                bottom: 4px;
                width: 100%;
                text-align: center;
                font-size: 8px;
            }
            box-sizing: border-box;

            &:hover {
                background-color: orange;
            }
            height: 100%;
        }
    }
    &-hint {
        position: relative;
        height: 30px;
        font-size: 10px;
        .hint_box {
            position: relative;
            height: 100%;
            &-bar {
                height: 100%;
                background-color: red;
            }
        }
    }
}
