.ratio_hint {
    position: relative;
    &-row {
        position: relative;
        height: 30px;

        &.is_higher_harmonics {
            height: 12px;
        }

        &:hover{
            background-color: rgb(255, 241, 220);
        }
    }

    &-node {
        width: 25px;
        height: 25px;

        border-radius: 100%;
        text-align: center;
        font-weight: bold;

        top: 50%;

        transform: translate(-50%, -50%);

        font-size: 16px;
        background-color: lightgray;
        padding-top: 2px;
        box-sizing: border-box;

        

        &.node_is_minimize {
            width: 6px;
            height: 6px;
            background-color: rgb(133, 133, 133);
        }

        &.node_is_key {
            z-index: 1;

            &.node_is_overtone {
                background-color: orange;
            }
            &.node_is_undertone {
                background-color: rgb(0, 204, 255);
            }
        }

        

    }
}
